/*
为白板中的卡片或嵌入的笔记文件添加cssclasses内容使用对应的样式：
- “canvaslabel”：隐藏边框和背景并且无需选中即可与链接交互
- “canvasborder”：去掉背景留下加粗边框
- “canvasred”：红色背景单色填充
- “canvasorange”：橙色背景单色填充
- “canvasyellow”：黄色背景单色填充
- “canvasgreen”：绿色背景单色填充
- “canvasblue”：蓝色背景单色填充
- “canvaspurple”：紫色背景单色填充
- “canvaspink”：粉色背景单色填充
- “canvasbrown”：棕色背景单色填充
- “canvasgray”：灰色背景单色填充
*/

/*卡片或笔记本身像标签一样，隐藏边框和背景并且无需选中即可与链接交互*/
.canvas-node:has(.canvaslabel) .canvas-node-content-blocker {
  display: none;
}
.canvas-node:has(.canvaslabel) .markdown-preview-view {
  padding: 0px !important;
  overflow: visible;
}
.canvas-node-container:has(.canvaslabel) {
  background: none;
  box-shadow: none;
  border: none;
} /*隐藏背景和边框，如果修改了颜色会失效（背景改变了颜色但依旧有高透明度，同时背景的边缘有自带的细边框，倒是可用作框选）*/
.canvas-node:has(.canvaslabel) .canvas-node-label {
  display: none;
} /*隐藏标签，可以让嵌入笔记文件无论设置都隐藏标签（就是上方名称）*/

/*去背景留边框，可以用作框选*/
.canvas-node-container:has(.canvasborder) {
  background: none;
  box-shadow: none;
  border: 4px solid #ff0000;
} /*隐藏背景，加粗边框同时改为默认红色。修改了颜色后可继续使用，但背景不再是纯透明 */

/*修改卡片背景颜色同时隐藏边框，采用单色填充用于一些特殊标记，如有必要配合自带修改颜色功能可以让缩放时显示颜色*/
/*红色*/
.canvas-node-container:has(.canvasred) {
  background-color: #fa7d78;
  border: none;
}
/*橙色*/
.canvas-node-container:has(.canvasorange) {
  background-color: #f2a150;
  border: none;
}
/*黄色*/
.canvas-node-container:has(.canvasyellow) {
  background-color: #f7da8c;
  border: none;
}
/*绿色*/
.canvas-node-container:has(.canvasgreen) {
  background-color: #81cf73;
  border: none;
}
/*蓝色*/
.canvas-node-container:has(.canvasblue) {
  background-color: #68b3ee;
  border: none;
}
/*紫色*/
.canvas-node-container:has(.canvaspurple) {
  background-color: #c1bde6;
  border: none;
}
/*粉色*/
.canvas-node-container:has(.canvaspink) {
  background-color: #ffc0cb;
  border: none;
}
/*棕色*/
.canvas-node-container:has(.canvasbrown) {
  background-color: #8b512e;
  border: none;
}
/*灰色*/
.canvas-node-container:has(.canvasgray) {
  background-color: #acacac;
  border: none;
}
